*/node_module/*
*/.serviceAccountKey.json
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.local.js
*/.env.development.js
*/.env.test.js
*/.env.production.js
*/.env.local.ts
*/.env.development.ts
*/.env.test.ts
*/.env.production.ts
*/.env.local.json
*/.env.development.json
*/.env.test.json
*/.env.production.json
*/.env.local.yaml
*/.env.development.yaml
*/.env.test.yaml
*/.env.production.yaml
*/.env.local.yml
*/.env.development.yml
*/.env.test.yml
*/.env.production.yml
*/.env.local.cjs
*/.env.development.cjs
*/.env.test.cjs
*/.env.production.cjs
*/.env.local.mjs
*/.env.development.mjs
*/.env.test.mjs
*/.env.production.mjs
*/.env.local.env
*/.env.development.env
*/.env.test.env
*/.env.production.env
*/.env.local.env.local
*/.env.development.env.local
*/.env.test.env.local
*/.env.production.env.local
*/.env.local.env.development
*/.env.development.env.development
*/.env.test.env.development
*/.env.production.env.development
*/.env.local.env.test
*/.env.development.env.test
*/.env.test.env.test
*/.env.production.env.test
*/.env.local.env.production
*/.env.development.env.production
*/.env.test.env.production
*/.env.production.env.production
*/.env.local.env.staging
*/.env.development.env.staging
*/.env.test.env.staging
*/.env.production.env.st
*/firebaseConfig.js
